
html {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
  background: url(pic.jpeg) no-repeat center center fixed; 
  background-size: cover;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

hr.line { 
  border: 0; 
  height: 2px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


.btn{
     margin-left: 100px;
    margin-top: 50px;
}

.btn:hover{
    border: black;
    background-color: black;
}

.header{
    color: white;
    margin: 0;
    margin-top: 300px;
    text-shadow: 3px 3px 3px #000;
    text-align: center;
}

.big{
    color: black;
    transition: all 5s;
}

.big:hover:{
    text-decoration-style: solid;
    transform: scale(1.1);
}